Adafruit-BME280==1.0.1
Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.11
Adafruit_DHT==1.4.0
annotated-types==0.7.0
board==1.0
colorama==0.4.6
loguru==0.7.3
pydantic==2.11.7
pydantic_core==2.33.2
RPi.GPIO==0.7.1
spidev==3.8
typing-inspection==0.4.1
typing_extensions==4.15.0
win32_setctime==1.2.0
